body {
    background: url('https://wallpapercrafter.com/desktop2/711480-biggie-gangsta-rap-smalls-720P.jpg') center/cover fixed no-repeat;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 800px;
    margin: 20px auto;
}

.contains {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.images {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 5px;
    cursor: pointer;
}

.music-info {
    text-align: center;
    margin-top: 10px;
}

.music-info h2 {
    margin-bottom: 5px;
}

.music-info a {
    display: block;
    color: #3498db;
    margin-top: 5px;
}

.btn {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}


.search-container {
    text-align: center;
    margin-bottom: 20px;
}

.searchButton {
    padding: 10px;
    background-color: #f1f1f1;
    color: white;
    
}

h1 {
    text-align: center;
    color: #ff0000;
}

.aa {
    display: inline-block;
    padding: 10px 15px;
    background-color: #4caf50;
    color: rgb(255, 255, 255);

    
}


